//-----------Determine which variable to display-------------//
- arg = (controller.controller_name == "drugs")? price.drug_store.insurances.map(&:name).join(", ") : drug_store.insurances.map(&:name).join(", ")

//-----------Buttons----------//
- if pm.name == 'Tarjeta'
  <button class="ui button" data-tooltip="Aceptan tarjeta"><i class="payment icon"></i></button>
- if pm.name == 'Efectivo' 
  <button class="ui button" data-tooltip="Aceptan efectivo"><i class="money icon"></i></button>
- if pm.name == 'Seguro' 
  <button class="ui button" data-tooltip="Aceptan los siguientes seguros: #{arg}"><i class="id card icon"></i></button>
  

    
    
