//-------------LOGO AND MENU-------------------//
.ui.secondary.menu.top.fixed
  background-color: white
  padding: 0px !important
  border-bottom: 1px solid lightgrey !important
  .right.menu
    padding-right: 1%
  .logo
    font-family: $header !important
    color: $blue
  .fix-hover:hover
    background: none
  .fix-hover:active
    background: none
  #search-area
    min-width: 400px
    padding: 0 10px 0 40px
    .ui.icon.input
      min-width: 400px
      color: blue !important
  #fix-radius:hover
    border-radius: 0.28571429rem !important
  #shoppingcart
    border-left: 1px solid lightgrey
    border-radius: 0
    padding-left: 20px
    text-align: center
    &:hover
      color: grey
  #floating-circle
    left: 65%
    top: 0.5em
  a.item.fix-hover
    button.ui.blue.button.basic.hover-effect
      &:hover
        color: white !important
        background-color: $blue !important
  #link
    button.ui.icon.button.blue
      border-radius: 0px 0.28571429rem 0.28571429rem 0px
//--------SECONDARY MENU----------//
#secondary-menu
  margin-top: 65px
  background-color: #1678C2
  display: none
  h3
    color: white
