//-------------LOGO AND MENU-------------------//
$break-point: 1085px

#hide-1085px_or_less
  @media screen and (max-width: $break-point)
    display: none
    height: 0px
.ui.secondary.menu.top.fixed
  background-color: white
  padding: 0px !important
  border-bottom: 1px solid lightgrey !important
  .right.menu
    padding-right: 1%
    @media screen and (max-width: 730px)
      padding-right: 5%
  .logo
    font-family: $header
    color: $blue
    @media screen and (max-width: 400px)
      display: none
  .logo-two
    color: $lightblue
    font-family: $header
    @media screen and (max-width: 400px)
      display: none
  .fix-hover:hover
    background: none
  .fix-hover:active
    background: none
  #search-drugs
    min-width: 600px
    padding: 0 10px 0 40px
    @media screen and (max-width: 730px)
      min-width: 200px
      padding: 0
      margin-right: 0
    .ui.icon.input
      max-width: 600px
      color: $blue
  #fix-radius:hover
    border-radius: 0.28571429rem !important
  #shoppingcart
    border-left: 1px solid lightgrey
    border-radius: 0
    padding-left: 20px
    text-align: center
    &:hover
      color: lightgrey
  #floating-circle
    left: 65%
    top: 0.5em
  a.item.fix-hover
    button.ui.blue.button.basic.hover-effect
      &:hover
        color: white !important
        background-color: $blue !important
  #link
    button.ui.icon.button.blue
      border-radius: 0px 0.28571429rem 0.28571429rem 0px
//--------SECONDARY MENU----------//
#secondary-menu
  margin-top: 65px
  background-color: #1678C2
  display: none
  h3
    color: white

//---------MOBILE MENU----------//
.ui.right.vertical.sidebar.labeled.icon.menu
  .logo
    font-family: $header
    color: $blue
  .logo-two
    color: $lightblue
    font-family: $header
  .logo-white
    color: white
    text-shadow: -2px -1px 6px rgba(150, 150, 150, 0.87)
    font-family: $body

#hide-1085px_or_more
  @media screen and (min-width: $break-point)
    display: none
    height: 0px
