//--------------MENU------------------//
.ui.header.huge
  .element#logo1
    font-family: $logo1 !important
    color: $red
  .typed-cursor
    color: $red
  #logo2
    color: $blue
.ui.inline.cookie.nag.inverted.segment.blue.attached
  padding: 5px
  .sub.header
    span
      color: $yellow
  i.yellow.close.icon.inverted
    margin: -10px
    opacity: 0.7
    &:hover
      opacity: 1
a.item.menu-button
  padding-left: 200px
//------Cursor Typed------//
.typed-cursor
  opacity: 1
  -webkit-animation: blink 0.7s infinite
  -moz-animation: blink 0.7s infinite
  animation: blink 0.7s infinite

@keyframes blink
  0%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 1
@-webkit-keyframes blink
  0%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 1
@-moz-keyframes blink
  0%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 1
//------------------HOME-------------------//
.pages
  .ui.segment.center.aligned.blue.inverted
    .ui.sub.header
      span
        color: $yellow
