//------------------HOME PAGE--------------//
.pages.wrapper-body
  background-image: url(home-background.jpg)
  max-height: 100%
  .column.nine.wide
    padding-bottom: 0
  .image-wrapper
    max-height: 400px
    overflow: hidden
    @media(max-width: 1000px)
      max-height: 200px
    img.doctor
      max-height: 550px
  .column.five.wide.left.aligned.animated.fadeInLeft
    animation-duration: 3s
    animation-delay: 1s
  .ui.image.doctor.right.floated.animated.fadeInUp
    animation-duration: 3s
