//------------------HOME PAGE--------------//
.pages.wrapper-body
  position: relative
  width: 100%
  height: auto
  .background-home
    background-image: url('https://dl.dropboxusercontent.com/s/h4cejjx6877i7in/home.svg')
    background-attachment: fixed
    background-repeat: no-repeat
    background-position: 0 -10px
    background-size: cover
    height: 100% !important
    width: 100% !important
    z-index: -10
    position: fixed
    top: 0
  #overlay-background
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    background: transparentize(white, 0.4)
    z-index: -9
  .logo
    font-family: $header !important
    color: $blue
    font-size: 8vw !important
    text-shadow: 1px 1px 1px grey
    margin: 50px 0
    .logo-red
      color: red
      font-family: $body
    .logo-white
      color: white
      text-shadow: -2px -1px 6px rgba(150, 150, 150, 0.87)
      font-family: $body
.toast-success
  margin-top: 100px
#fix-align-drug_store_price
  padding-top: 10px
